<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/normalize.css">
<link rel="stylesheet" href="/skeleton.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
    </style>
  <title>Jewelry</title>
</head>
  <body>
    <div class="container">
    <header>
      <div class ="header">
      <h1>Pretty Adornments Jewelry</h1>
      <!-- <form action=''>
        <input type="search" value = 'search'/>
        <input type="submit" value="submit"/>
      </form> -->
    </div>
    <div class ='btns'>
    <a href="/new"> <button class='button'>Add Jewelry</button></a>
  </div>
    </header>
    <div class="container">
        <% for (let i = 0; i < jewelryCollection.length; i++) { %>
      <div class="jewelry-container">
        <a class="jewelry-img-link" href="/<%=jewelryCollection[i]._id%>">
          <img src=<%=jewelryCollection[i].img%>></img>
          <h3><%=jewelryCollection[i].name%></h3>
        </a>
      </div>
    <% } %>
    </div>
    </div>
  </body>
</html>
