
   
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/normalize.css">
<link rel="stylesheet" href="/skeleton.css">
  <style>
   @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
    </style>
  <title>Create New</title>
</head>
<body>
  <div class= 'header'>
  <h1>Create New Item</h1>
</div>
<div style='text-align: center'>
<a href="/"><button class = 'buttons'>Back to Jewelry</button></a>
</div>
<div style='display: flex; justify-content: center; align-items: center'>
  <form style='margin-top: 10px; ' id="new-jewelry" action="/" method="POST">
    <input style='height: 20px; margin-bottom: 5px;width: 200px' type="text" placeholder="Name" name="name" /><br/>
    <input style='height: 20px; margin-bottom: 5px;width: 200px' type="url" placeholder="Image URL" name="img" /><br/>
    <input style='height: 20px; margin-bottom: 5px;width: 200px' type="string" placeholder="Price" name="price" min="151" /><br/>
    <input style='height: 20px; margin-bottom: 5px;width: 200px' type="text" placeholder="Type" name="type" /><br/>
    <input style='height: 20px; margin-bottom: 5px;width: 200px' type="text" placeholder="Material" name="material" /><br/>
    <input style='height: 20px; margin-bottom: 5px;width: 200px' type="text" placeholder="Stones" name="stones" /><br/>
    <input style='height: 20px; margin-bottom: 5px;width: 200px' type="text" placeholder="Weight" name="weight" /><br/>
    <input class = 'buttons'  style = 'margin-left: 30px' type="submit" value="Add Item"/>
</form>
</div>
</body>
</html>